/* Custom classes, etc */
.primary-lighter {
    background-color: #c36d4b;
} 

.text-primary-lighter {
    color: #c36d4b;
}

.text-link {
    color: inherit;
    text-decoration: inherit;
}

.App {
    height: 100vh;
}

.home-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: space-between;
}

/* MASTHEAD SKINNY */
.masthead {
    position: relative;
    overflow: hidden;
    padding: 2rem;
    z-index: 2;
    margin-bottom: 2rem;
}
.masthead:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.75);
}
.masthead .masthead-content {
    position: relative;
    max-width: 24rem;
    margin: 0 auto;
}
.masthead-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* MASTHEAD WIDE */
@media (min-width: 200px) {
    .masthead {
        height: 190px;
        width: 400px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 1rem 1.5rem;
        margin: 0 0 2rem;
    }
    .masthead:before {
        transform: skewX(-9deg);
        transform-origin: top right;
        border-right: 10px solid rgba(167, 69, 31, 1);
    }
    .masthead-content {
        /* height: auto; */
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 0;
        margin: 0;
    }
}

.logo-home {
    width: auto;
    height: 15vh;
    margin-bottom: 1rem;    
}

.nav-content {
    position: relative;
    width: 12vw;
    min-width: 180px;
    display: flex;
    flex-direction: column;
}

.nav-container {
    position: relative;
    display: flex;
}

.nav-choice {
    position: relative;
    display: flex;
    color: white;
    font-size: 1.3rem;
    height: 2.5em;
    padding: 0.5em 0.7em;
    margin: 0 0 0.7em;
    border-right: 10px solid transparent;
    z-index: 3; /* important */
    cursor: pointer;
}

.nav-text-box {
    color: white;
    font-size: 1.3rem;
    z-index: 5;
}

.nav-choice:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2.5em;
    background-color: rgba(167, 69, 31, 0.7);
    border-right: 10px solid rgba(167, 69, 31, 0.7);
    transform: skewX(-9deg);
    transform-origin: top right;
    transition: background-color 0.3s ease-in-out, width 0.3s ease-in-out, border-right 0.3s ease-in-out;
}

.nav-choice:hover::before {
    background-color: rgba(167, 69, 31, 1);
    width: 115%;
    border-right: 10px solid rgba(255, 255, 255, 0.7);
    transition: background-color 0.3s ease-in-out, width 0.3s ease-in-out, border-right 0.3s ease-in-out;
}

@media (min-width: 200px) {
    .logo-home {
        width: 90%;
        height: auto;
        margin-bottom: 2rem;
    }
}

